[package]
name = "client_management"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
rocksdb = "0.24.0"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
